
body {
	background-image: url('background.jpg');
}

.cover-heading {
	margin-bottom:20px;
}

.btn-default:hover {
	border:0px;
}

.register-btn {
	background:#66ff66;
	color:white;
	border:0px;
}

.signin-btn {
	background: #0000ff;
	color:white;
	border:0px;
}

.btn-ok {
	background:#66ff66;
	color:white;
	border:0px;
}

.modal-header {
	color:black;
}
.modal {
	color:black;
}

.modal-footer-center {
	text-align: center;
}

.error {
	display:none;
	color:red;
}
label {
	color:#666;
}

.loading {
	position:absolute;
	top:45%;
	margin-left:-20px;
	z-index: 1000;
}
.gly-ani {
  animation: ani 2s infinite linear;
  color:green;
}
@keyframes ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


#vote_form label {
	text-align:left;
	float:left;
}
.bootstrap-select {
	border: 1px solid #ccc !important;
height:36px;

}
    /* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
